<div class="row px-xl-5">
    <div class="col">
        <div class="nav nav-tabs justify-content-center border-secondary mb-4">
            <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-pane-1">
                <app-product-cv-desc></app-product-cv-desc>
            </div>
            <div class="tab-pane fade" id="tab-pane-2">
            <app-product-cv-table></app-product-cv-table>
            </div>
            <div class="tab-pane fade" id="tab-pane-3">
            <app-product-cv-review></app-product-cv-review>
            </div>
        </div>
    </div>
</div>