#color-01 {
    color: #8a8d93 !important;
    border-color: #c5c6c9 !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  #colo-01:hover {
    border-color: #92959c !important;
    background: rgba(42, 35, 35, 0) !important;
  }
  /* input {
    position: absolute;
    height: 45px;
    transition: all 0.3s;
  }
  
  .label {
    position: relative;
    top: 33px;
    left: 45px;
    font-size: large;
    z-index: 1;
    padding-left: 12px;
    padding-right: 12x;
    background-color: white;
  }
  .label:hover {
    position: relative;
    top: 12px;
    left: 25px;
    z-index: 1;
    padding-left: 12px;
    padding-right: 12x;
    background-color: white;
    transition: all 0.3s;
  } */
  
  .input-container {
    position: relative;
    /* margin-bottom: 20px; */
  }
  
  .add-input {
    height: 45px;
    font-size: 16px;
  }
  .input {
    height: 45px;
    font-size: 16px;
  }
  
  .label {
    position: absolute;
    top: 22px;
    left: 55px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: gray;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .input:focus + .label {
    top: -9px;
    left: 21px;
    transform: none;
    font-size: 12px;
    color: blue;
    background-color: white;
  }
  .input:focus {
    border: 2px solid rgb(147, 168, 177);
  }