
<form [formGroup]="addProduct" (submit)="onSubmit()">
    <app-three-btn-sec></app-three-btn-sec>
<div class="row">

    <div class="col-lg-8 col-md-12" >
        <div class="p-3 mb-5 shadow bg-white rounded">
        <h5 class="text-muted fw-light m-2">Product information</h5>
            <div class="form-row mt-2">
                <div class="col">
                    <div class="input-container">
                        <input type="text" class="form-control input" id="myInput" formControlName="pname">
                        <label for="myInput" class="label ">Name </label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container">
                        <input type="text" class="form-control input" id="myInput" formControlName="Category">
                        <label for="myInput" class="label ">Category</label>
                        <span class="add-category-point">+</span>
                    </div>
                    <div *ngIf="searchResults.length > 0">
                        <h2>Search Results:</h2>
                        <ul>
                          <li *ngFor="let result of searchResults">{{ result.name }}</li>
                        </ul>
                      </div>
                      <!-- <div *ngIf="searchResults.length === 0 && searchForm.get('searchQuery')?.value.length > 0">
                        No results found.
                      </div> -->
                </div>
            </div>

    <div class="form-row p-1 mt-2">
        <h5 class="text-muted fw-light m-2">Product Image </h5>
            <input class="form-control input" type="file" id="formFile" formControlName="image">
     </div>
            <div class="mt-2">
                <hr>
                    <h6 class="text-muted fw-light mb-2"></h6>
                        <h5 class="text-muted fw-light m-2">Product Description</h5>
                            <div class="row px-xl-5" formGroupName="desc">
                            <div class="col">
                        <div class="nav nav-tabs  border-secondary mb-4">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">list Formate</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Table Formate</a>
                        </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <p class="text-muted fw-light" style="font-size: small;">(Add a new line when you want a
                                    new line in user-pannel)
                     </p>
            <div formArrayName="dlist" *ngFor="let list of dlist.controls;let i=index" class="input-container mt-1">
                            <input   type="text" class="form-control input" id="list- {{i}}" [formControlName]="i">
                            <label for="list-{{i}}" class="label " >Name </label>
                  </div>
                                <div  class="d-flex justify-content-end">
                                    <button  class="btn btn-outline-secondary mt-2"  type="button"  (click)="ADD_dlist()" id="color-01">Add line</button>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="tab-pane-2">
  <p class="text-muted fw-light" style="font-size: small;">(Add a new line when you want a
    new line in user-pannel)
  </p>

  <div formArrayName="dtable" *ngFor="let table of dtable.controls; let i = index;" >
   <div class="form-row mt-2" [formGroupName]="i">

    <div class="col">
      <div class="input-container">
        <input type="text" class="form-control input" formControlName="header" id="myInput{{ i }}0">
        <label for="myInput{{ i }}" class="label">Header </label>
      </div>
    </div>
    <div class="col">
      <div class="input-container">
        <input type="text" class="form-control input" formControlName="des" id="myInput{{ i }}1">
        <label for="myInput{{ i }}" class="label">Description</label>
      </div>
    </div>
   </div>

  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-secondary mt-2" type="button" (click)="Add_dtable()" id="color-01">Add line</button>
  </div>
</div>

                        </div>
                    </div>
                </div>
            </div>
     </div>
  </div>
    <div class="col-lg-4 col-md-12 ">
        <div class="p-3  shadow bg-white rounded">
        <h5 class="text-muted fw-light m-2">Product information</h5>
<div  formGroupName="price">

            <div class="input-container">
                <input type="text" class="form-control input" formControlName="realprice" id="myInput">
                <label for="myInput" class="label ">Real Price</label>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <div class="input-container">
                        <input type="text" class="form-control input" formControlName="fakeprice" id="myInput">
                        <label for="myInput" class="label ">Fake price</label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container">
                        <input type="text" class="form-control input" id="myInput" formControlName="percentage">
                        <label for="myInput" class="label ">percentage(%)</label>
                    </div>
                </div>
            </div>
            <hr class="mt-3">

            <div class="form-check mt-2">
                <input class="form-check-input " type="checkbox" value="1" id="flexCheckChecked" formControlName="tax" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Charge tax on this product
                </label>
            </div>
</div>

        </div>
            <div class="p-3 mb-5 shadow bg-white rounded mt-2">
                <h5 class="text-muted fw-light m-2">Inventory</h5>
                <div   formGroupName="inventory">

                <div class="input-container mt-2">
                    <input type="text" class="form-control input" id="myInput" formControlName="quantity">
                    <label for="myInput" class="label ">Quantity</label>
                </div>
                <div class="input-container mt-2">
                    <input type="text" class="form-control input" id="myInput" formControlName="warranty">
                    <label for="myInput" class="label ">warranty</label>
                </div>
            </div>

        </div>
    </div>
</div>
</form>