

<!-- <app-shop-index></app-shop-index> -->
<app-featured></app-featured>
<app-categories></app-categories>
<app-offers></app-offers>
   <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
            <app-single-product></app-single-product>
        </div>
<app-subscribe></app-subscribe>
<div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
    <app-single-product></app-single-product>
</div>
<!-- <app-vendor></app-vendor> -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
